/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image {
    position: absolute; /* Use absolute positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-image: url('2.png'); /* Reference to the image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire area */
    z-index: -1; /* Ensure it's behind other content */
}

.container {
    background: rgba(225, 231, 231, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition effects */
    font-family: 'Times New Roman', Times, serif;

}
h2:hover {
    color: orangered; /* Change to your desired color */
    transform: scale(1.05); /* Slightly enlarge the text */
}
input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #434ea0;
    background-color: #e76d09; /* Darker blue on hover */
    border-color: #004085; /* Optional: change border color on hover for more emphasis*/
    border: 1px solid black; /* Black border with a thickness of 2px */
}
    

.message {
    margin-top: 10px;
}