body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.background-image {
    position: absolute; /* Use absolute positioning */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-image: url('2.png'); /* Reference to the image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Cover the entire area */
    z-index: -1; /* Ensure it's behind other content */
}

.container {
    text-align: center;
    background-color: rgba(225, 231, 231, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition effects */
}
h1:hover {
    color: orangered; /* Change to your desired color */
    transform: scale(1.05); /* Slightly enlarge the text */
}

.container p {
    color: #888;
    margin-bottom: 10px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.suggest-password {
    display: none;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.suggest-password .icon {
    margin-right: 5px;
    color: #5d00ff;
}

.continue-btn {
    background-color:  rgb(40, 42, 201);
    color: white;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.continue-btn:hover {
    background-color: #00b359;
}

.bottom-text {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

.bottom-text a {
    color: #0073e6;
    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}